<div class="row">
  <div class="login-div col m6 s12 offset-m3 card-panel">
    <div class="row">
      <h2>Log In!</h2>
      <form class="login-form" ng-submit="vm.login()">
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="vm.user.email"id="email" type="text" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input ng-model="vm.user.password"id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <button class="btn-floating btn-large waves-effect waves-light teal right"><i class="material-icons">done</i></button>
      </form>
    </div>
  </div>
</div>
