<div class="login-jumbo jumbotron">
  <div class="col-md-4 col-md-offset-4 login-div panel">
    <h1>Log in!</h1>
    <form class="login-form" action="index.html" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="login-input form-control" type="text" name="username" value="">
        <label for="password">Password</label>
        <input class="login-input form-control" type="passoword" name="password" value="">
      </div>
      <button class="btn login-submit pull-right"type="button" name="button">Submit</button>
    </form>
    <br>
  </div>
</div>
