/* add custom styles */
html, body {
  height: 100%;
}
body {
  background-image: url('../img/sayagata-400px.png');
}
.main-nav {
  background-color: rgba(238, 110, 115, 0.8);
}
/*=====splash=====*/
.splash-jumbo {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: url('../img/dock-date.jpeg');
  background-position: center;
  background-size: cover;
}
.splash-heading {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
}
.splash-button {
  background-color: rgba(238, 110, 115, 0.8);
  width: 30%;
  margin: 0 auto;
}
.splash-button:hover{
  background-color: rgba(224, 120, 120, 0.9);
  border: none;
}
.splash-toggle {
  border: none;
}
.splash-toggle:hover {
  background-color: rgba(224, 120, 120, 0.9) !important;
}
.splash-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.splash-member {
  width: 100%;
}
.featured-avatar {
  width: 70% !important;
}
.indicators {
  display: none !important;
}
.slider {
  margin: 10px 0 10px 0;
  height: 100% !important;
}
.member-info {
  background-color: rgba(224, 120, 120, 0.9);
  margin-top: 50px;
}
.member-avatar {
  text-align: center;
  padding: 10px;
}
.logi-div {
  padding: 15px;
}
